* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
   
}
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,.5);
    pointer-events: none;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
}
.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}
.login100-form {
    width: 100%;
}
.login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
}
.input100 {
    font-family: SourceSansPro-Bold;
    font-size: 17px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 20px 0 23px;
}
.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap-login100 .login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bd59d4;
    border-radius: 25px;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all .4s;
    box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
}
.login100-form-btn a{text-decoration: none; color: white;}
.wrap-login100 .login100-form-btn:hover {
    background-color: #4b2354;
    box-shadow: 0 10px 30px 0 rgba(189,89,212,.8);
}
.wrap-login100 input{
    outline: none !important;
    border: none;
    box-shadow: 0 3px 20px 0 rgba(189,89,212,.5);
}
.wrap-login100 button {
    outline: none!important;
    border: none;
    background: 0 0;
}
.flex-c {
    display: flex;
    justify-content: center;
}
.txt1{color: #999;}

.login100-social-item {
    font-size: 25px;
    color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
}
.login100-social-item .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}